$min-contrast-ratio: 4;

$warning: #a50;
$success: #0a5;
$danger: #a22;
$primary: #351;
$info: #05a;

$h1-font-size: 350%;
$h2-font-size: 300%;
$h3-font-size: 250%;
$h4-font-size: 200%;
$h5-font-size: 150%;
$h6-font-size: 110%;
